
       <style>
	      
		body 
		{
          background-image: url('Ola-Vellore.png');
		      <!-- margin:100px; -->
		      width:50px;
		      height:2000px;
               background-repeat: no-repeat;

        }
		.container {
			margin: 50px auto;
			width: 400px;
			background-color:;
			padding: 20px;
			border-radius: 10px;
			box-shadow: 0 0 10px rgba(0,0,0,0.3);
		}
		h1 {
			text-align: center;
			font-size: 28px;
			margin-bottom: 20px;
		}
		input[type=text], input[type=password] {
			width: 100%;
			padding: 12px 20px;
			margin: 8px 0;
			display: inline-block;
			border: 1px solid #ccc;
			border-radius: 4px;
			box-sizing: border-box;
		}
		button {
			background-color: #4CAF50;
			color: white;
			padding: 14px 20px;
			margin: 8px 0;
			border: none;
			border-radius: 4px;
			cursor: pointer;
			width: 100%;
		}
		button:hover {
			background-color: #45a049;
		}
		.cancelbtn {
			 background-color:red    #f44336;
		}
		.imgcontainer {
			text-align: center;
			margin: 24px 0 12px 0;
		}
		img.images {
			width:50%;
			border-radius: 10%;
		}
		.container form {
			border: none;
			padding: 16px;
		}
		span.psw {
			float: right;
			padding-top: 16px;
		}
		@media screen and (max-width: 400px) {
			.container {
				width: 50%;
			}
		}
		p{
			color:tomato;
			font-size: 30px;
			font-style: bold;
		}
	</style>